


.benfits{
    background-color: #374E7B;
    height: 500px;
    width: auto;
    color: white;
    font-size: 24px;
    padding: 0.5%;
}

.benfits p{
    text-align: center;
    font-size: 30px;
}

.benfits h2{
    text-align: center;
    color:white;
    
}


.Email{
    height: 100px;
    width: 150px;
}

.Email input{
   height: 50px;
   width: 500px;
   font-size: 24px;
}

.Email label{
    color: white;
    font-size: 24px;
}

.signin{
    height: 150px;
}
.signin button{
    height: 55px;
    width: 350px;
    
}

.signin a{
    color: black;
    font-size: 30px;
}

.Signup button{
    height: 55px;
    width: 350px;
}
.signin:hover{
    opacity: 0.8;
}

.Signup a{
    color: black;
    font-size: 30px;
    
}

.Signup:hover{
    opacity: 0.8;
}


.homefooter h2{
    
    color: black;
}

.Promo{
    text-align: center;
    font-size: 24px;
}

.Promo input{
    align-items: center;
}

